.dart_tool
build
.git
.env
.env.*
!.env.example
.idea
.vscode
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.pub
android/.gradle
android/app/build
ios/Pods
ios/.symlinks
ios/Flutter/ephemeral
linux/flutter/ephemeral
macos/Flutter/ephemeral
windows/flutter/ephemeral
.DS_Store
Thumbs.db
*.log
